.top-bar {
  width: 100%;
  background-color: #0091ff; /* Cor de fundo da barra */
  color: #fafafa; /* Cor do texto */
  padding: 10px 0; /* Espaçamento interno (padding) */
  text-align: center; /* Centralizar o texto */
  position: fixed; /* Fixar a barra no topo da tela */
  top: 0; /* Garantir que a barra esteja no topo */
  left: 0; /* Garantir que a barra esteja à esquerda */
  z-index: 1000; /* Garantir que a barra fique acima de outros elementos */
}

.top-bar h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}